<html ng-app="myApp" ng-controller="homeController">
<head>
<meta charset="utf-8">
<title>Employee Details App</title>
<link rel="stylesheet" href="./css/bootstrap.min.css" />
<link rel="stylesheet" href="./css/styles.css" />
<link rel="stylesheet" href="./css/custom.css" />
<link rel="stylesheet" href="./css/employee.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"
	integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="./js/app.js"></script>
</head>
</head>
<body>

	<div class="container">
		<div class="jumbotron">
			<h1>Employee Details WebApp</h1>
			<p>This has been built using Spring MVC</p>
			<img class="show" aria-haspopup="true"
				src="./images/icon_add.png" ng-click="showEmployeeModal()"
				alt="Add Employee" data-toggle="tooltip" title="Add Employee">
		</div>
		<div ng-view></div>
	</div>
	<script src="./js/controller/homeController.js"></script>
	<script src="./js/controller/employeeController.js"></script>
	<script src="./js/service/employeeService.js"></script>
</body>
</html>