.position1{
    float: left!important;
    width:0px !important;
    padding-left: 30px;
    /* margin-top: 25%; */
    display: inline-block;
}

.position2{
    float: right!important;
    width:0px !important;
    padding-right: 100px;
    /* margin-top: 25%; */
    display: inline-list;
}

.show{
  position: absolute;
  top: 20%;
  left: 87%;
  width: 60px;
  height: 60px;
  color: #fff;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  
  &:hover{
    background: #c0392b;
  }
  
  &:active{
    transform: scale(0.9);
  }
}

// Close Button

a {
  color: inherit;
}

.jumbotron {
    color: black;
    background-color: white;
}

