<div class="signup__container">
  <div class="container__child signup__thumbnail">
    <div class="thumbnail__logo">
      
      <h1 class="logo__text">Xlyps</h1>
    </div>
    <div class="thumbnail__content text-center">
      <h1 class="heading--primary">Welcome to Xlyps.</h1>
      <h2 class="heading--secondary">Are you ready to join the elite?</h2>
    </div>
    <div class="signup__overlay"></div>
  </div>
  <div class="container__child signup__form">
    <form action="#">
    <div class="row">
	      <div class="form-group col-sm-6">
	        <label for="FirstName">FirstName</label>
	        <input class="form-control" type="text" ng-model="employee.firstName" name="FirstName" id="FirstName" placeholder="FirstName" required />
	      </div>
	      <div class="form-group col-sm-6">
	        <label for="LastName">LastName</label>
	        <input class="form-control" type="text" ng-model="employee.lastName" name="LastName" id="LastName" placeholder="LastName" required />
	      </div>
      </div>
      <div class="form-group">
        <label for="Role">Role</label>
        <input class="form-control" type="text" ng-model="employee.role" name="role" id="role" required />
      </div>
      <div class="form-group">
        <label for="Department">Department</label>
        <input class="form-control" type="text" ng-model="employee.department" name="department" id="department" required />
      </div>
      <div class="form-group">
        <label for="Address">City</label>
        <input class="form-control" type="text" ng-model="employee.address.addressDeatils" name="City" id="City"  required />
      </div>
       <div class="form-group">
        <label for="State">State</label>
        <input class="form-control" type="text" ng-model="employee.address.state" name="State" id="State"  required />
      </div>
       <div class="form-group">
        <label for="Pincode">Pincode</label>
        <input class="form-control" type="number" ng-model="employee.address.pincode" name="Pincode" id="Pincode" required />
      </div>
      <div class="m-t-lg">
        <ul class="list-inline">
          <li ng-if="userOperation=='Register'">
            <input ng-click ="addEmployee(employeeData)" class="btn btn--form" type="submit" value="{{userOperation}}" />
          </li>
          
          <li ng-if="userOperation=='Update'">
            <input ng-click ="updateEmployee(employeeData)" class="btn btn--form" type="submit" value="{{userOperation}}" />
          </li>
          
        </ul>
      </div>
    </form>  
  </div>
</div>