<!-- <!-- 
Hover or Click in each element to see flip and bounceInLeft Effects.
Best view in full preview.
 -->

<!-- <!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Responsive List</title>
	<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
</head>
<body> -->

<div class="responsive">
	<ul class="content">
		<!-- 1 -->
		<li ng-repeat="employee in employeeData track by $index">
			<div class="card-front">
				<h2>
					<b>{{employee.firstName}}</b> <b>{{employee.lastName}}</b>
				</h2>
				<p>{{employee.role}}</p>
			</div>
			<div class="card-back">
				<h2>
					<b>{{employee.address.addressDeatils}}</b> 
					<b>{{employee.address.state}}</b>
					<b>{{employee.address.pincode}}</b>
				</h2>
				<div class="position1">
					<h2>
						<b ng-click="updateEmployee($index)">Update</b>
					</h2>
				</div>
				<div class="position2">
					<h2>
						<b ng-click="deleteEmployee($index)">Delete</b>
					</h2>
				</div>


			</div> <!-- Content -->
		</li>
	</ul>
</div>